body {
  font-family: Arial, Helvetica, sans-serif;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

#route-sign {
  color: black;
  background: white;
  width: 100%;
  font-size: 19pt;
}
#menu, #map {
  display: none;
}
#route-sign .edit {
  display: none;
}
#route-sign ul.line > li {
  border-color: black;
}
#route-sign a {
  color: black;
}
#route-sign ul li ul li,
#route-sign ul li ul li:before {
  border-color: black;
}
#route-sign ul.line > li > span.direction,
#route-sign ul.current > li > span.direction,
#route-sign ul.current > li > .content > ul.connections > li > span.direction {
  color: black;
}
#route-sign ul.current > li,
#route-sign ul.current > li:last-of-type {
  border-color: black;
}
