:root {
  --mainColor: #000000;
  --otherColor: #5f5f5f;
  --backgroundColor: #ffffff;
  --titleColor: #000000;
  --titleBackgroundColor: #ff0000;
  --baseFontSize: 19pt;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

#route-sign {
  width: 100%;
}
#menu, #map {
  display: none;
}
#route-sign .edit {
  display: none;
}
