.ptRoute-U1 {
  background: #E20613;
  color: white;
}
.ptRoute-U2 {
  background: #A762A4;
  color: white;
}
.ptRoute-U3 {
  background: #EF7C00;
  color: white;
}
.ptRoute-U4 {
  background: #029540;
  color: white;
}
.ptRoute-U5 {
  background: #008f95;
  color: white;
}
.ptRoute-U6 {
  background: #9C6830;
  color: white;
}
.ptRoute-S, .ptRoute-S45, .ptRoute-S50 {
  background: #0000ff;
}
.ptRoute-REX {
  border: 1px solid;
}
